{% extends 'layout.html' %}
{% block body %}
<div class="container-wide">
	<h2 style="width:100%;text-align:center;">
		What is SoberFood?
	</h2>
	<div>
	<div class="row">
	<div class="col-md-6" style="text-align:center;">
	<img src="/public/custom/img/defaultProjImg.png" style="width:400px;"></img>
	</div>
    <div class="col-md-6">
	<p>
		For young-adult shoppers lacking know-how concerning effective shopping and home-inventory methods to reduce food waste, our SoberFood grocery traceability game provides a fun and interactive platform to make informed choices about how to shop, meal plan, cook, and consume food.
	</p>
	<p>
			Food waste that occurs on a local level has negative impact on the socioeconomic

	environment in which we live.  In a city of over 122,000 people, if 1 in 10 people are food 

	insecure in Canada (Food Banks Canada, 2013), this amounts to nearly 12,000 persons in 

	our Guelph community.  At the same time, it is estimated the average Canadian throws 

	away about $28 worth of the groceries they purchase each week (Gillis, 2013).  Clearly, 

	there exists a disparity in food availability and utilization between those engaging in food 

	purchase, & those who are less fortunate & hence living as food insecure. 
	</p>
	<p>
	As a solution to the challenge detailed for the 2014 Food Waste Hack-A-Thon of 

	combatting food waste on the University of Guelph campus, our student team proposes the 

	creation of game-driven, web-based platform entitled ‘SoberFood’ to educate the student 

	body in an interactive and web-based fashion. Our proposal can easily be extended 

	horizontally across the food value chain, as the core elements of inventory tracing, 

	consumption data and waste monitoring are also applicable to larger institutions. However, 

	by beginning at the level of the consumer, we are addressing the more immediate issue on 

	our campus and Canadian society at large, considering 51% of food waste in Canada occurs 

	in the home (Statistics Canada, 2010).
	</p>
	</div>
	</div>
	</div>
</div>
{% endblock %}