{% extends 'layout.html' %}
{% block body %}
<div class="container-wide" ng-controller="homeCtrl">
	<div style="width:100%">
	
	<h1>Your Pantry!</h1>

	<table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Days Left</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in itemsOnList">
          <td>[[item.name]]</td>
          <td>[[item.daysLeft]]</td>
          <td><button ng-click="eat(item.id)" class="btn btn-success">Eat <i style="font-size:1.0em" class="glyphicon glyphicon-cutlery"></i></button><br>
          <button style="margin-top: 5px;" ng-click="waste(item.id)" class="btn btn-danger">Waste <i style="font-size:1.0em" class="glyphicon glyphicon-thumbs-down"></i></button></td>
        </tr>
      </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
function homeCtrl($scope, $http) {
	$scope.project = ["Hello", "World", "!"];
	$scope.foodItems = []
	$scope.itemsOnList = []

	$.ajax({
        url: "/api/user/pantry",
        method: "Get",
        success: function(resp) {
        	$scope.itemsOnList = (resp.data)
        	$.each($scope.itemsOnList, function(id, elem){
        		var x = new Date();
        		x.setMilliseconds(0)
				x.setSeconds(0)
				x.setMinutes(0)
				x.setHours(0)
        		elem.daysLeft = elem.shelfLifeDays - ((x - new Date(elem.timePurchased))/(1000*60*60*24))
        	})
        	$scope.$apply();
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
        },
      })

	$("#foodForm").on("submit", function(data, other) {
		var item;
		for(var i = 0;i<$scope.foodItems.length;i++){
			if($scope.foodItems[i].name == $("#foodItem").val()){
				item = $scope.foodItems[i];
				item = {name: item.name, shelfLifeDays: item.shelfLifeDays, amount: 1, foodInfoId: item.id}
				break;
			}
		}
		$.ajax({
	        url: "/api/foodItem",
	        method: "Post",
	        data: item,
	        success: function(resp) {
	        	item.id = resp.data.item.id
	        	$scope.itemsOnList.push(item);
				console.log($scope.itemsOnList)
				$scope.$apply();
	        },
	        error: function(XMLHttpRequest, textStatus, errorThrown) {
	        	console.log("err")
	        },
	      })
	})

	$scope.eat = function(id){
		$.ajax({
	        url: "/api/foodItem/eat/"+id,
	        method: "Put",
	        success: function(resp) {
	        	$scope.itemsOnList = $.grep($scope.itemsOnList, function(elem){
	        		console.log(elem)
	        		if(elem.id == id){
	        			console.log("remove")
	        			return false;
	        		}else{
	        			return true;
	        		}
	        	})
	        	$scope.$apply();
	        },
	        error: function(XMLHttpRequest, textStatus, errorThrown) {
	        	console.log("err")
	        },
	      })
		console.log(id)
	}


	$scope.waste = function(id){
		$.ajax({
	        url: "/api/foodItem/waste/"+id,
	        method: "Put",
	        success: function(resp) {
	        	$scope.itemsOnList = $.grep($scope.itemsOnList, function(elem){
	        		console.log(elem)
	        		if(elem.id == id){
	        			return false;
	        		}else{
	        			return true;
	        		}
	        	})
	        	$scope.$apply();
	        },
	        error: function(XMLHttpRequest, textStatus, errorThrown) {
	        	console.log("err")
	        },
	      })
		console.log(id)
	}

	$scope.addToFoodToEat = function(id) {
		$.ajax({
	        url: "/api/User/addToFoodToEat",
	        method: "Put",
	        success: function(resp) {
	        	$scope.itemsOnList = [];
	        	$scope.$apply();
	        },
	        error: function(XMLHttpRequest, textStatus, errorThrown) {
	        	console.log("err")
	        },
	    })
	}
	// $scope.foodItems = ["Bananas", "Tomatoes", "Milk", "White Bread", "Apples", "Breakfast Cereal", "Potatoes", "Eggs", "Orange Juice", "Chicken breast", "Turkey from Deli Counter"]
}
</script>
{% endblock %}