{% extends 'layout.html' %}
{% block body %}
<div class="row">
  <div class="col-md-8">
    Dont Let Your Food Get Wasted!
  </div>
  <div class="col-md-4">
    <div class="container-wide" ng-controller="homeCtrl">
        <h3>
            [[message]]
        </h3>
        <span id="swap" class="textSwap">[[swap]]</span>
        <form id="loginForm" ng-show="!newAccount">
          <span>
          </span>
          <p>
            <label>Username:
              <input type="text" name="name" value="test" />
              <span>[[createError]]</span>
            </label>
          </p>
          <p>
            <label>Password:
              <input type="password" name="password" value="test" />
            </label>
          </p>
          <p>
            <input type="button" id="signIn" value="Log In"></input>
          </p>
        </form>
      </form>

      <form id="createAccountForm" ng-show="newAccount">
       <p>
          <label>Username:
            <input type="text" name="name" value="test" />
            <span>[[createError]]</span>
          </label>
        </p>
        <p>
          <label>Password:
            <input type="password" id="pw" name="password" value="test" />
          </label>
        </p>
        <p>
          <label> Repeat Password:
            <input type="password" id="rpw" name="repeatPassword" value="test" />
          </label>
        </p>
        <p>
          <input type="button" id="createAccount" value="Sign Up"></input>
        </p>
      </form>
    </div>

  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
function homeCtrl($scope, $http) {
  $scope.createError = "";
  $scope.newAccount = false;
  $scope.message = "Log In";
  $scope.swap = "Create an account."

  $("#swap").click(function() {
    $scope.$apply(function(){
        if (!$scope.newAccount) {
          $scope.message = "Create New Account";
          $scope.swap = "log in"
        }
        else {
          $scope.message = "Log In";
          $scope.swap = "Create new account"
        }
        $scope.newAccount = !$scope.newAccount;
    });
  });

  $("#signIn").click(function() {
      $.ajax({
        url: "/api/login",
        method: "POST",
        data: $('#loginForm').serialize(),
        success: function(data) {
          window.location="/shoppingList";
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          $scope.$apply(function(){
              $scope.createError = "Invalid username or password.";
          })
        }
    })
  });

  $("#createAccount").click(function() {
    if ($("#pw").value != $("#rpw").value) {
      $scope.$apply(function(){
        $scope.createError = "Passwords do not match."
      })
    }
    else {
      $.ajax({
        url: "/api/createAccount",
        method: "POST",
        data: $('#createAccountForm').serialize(),
        success: function(data) {
          window.location = "/shoppingList";
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            $scope.$apply(function(){
              $scope.createError = "Username not available.";
            })
        },
      })
    }
  });
}
</script>
{% endblock %}