{% extends 'layout.html' %}
{% block body %}
<div class="container-wide" ng-controller="homeCtrl">
	<div style="width:100%">
	<form id="foodForm">
	<input list="foodItems" id="foodItem" autocomplete="off">
	<datalist id="foodItems">
		<option  data-ng-repeat="item in foodItems" label="[[item.shelfLifeDays]] days" value="[[item.name]]">
	</datalist>
	<input type="submit">
	</form>
	</div>
	<h1>Your list!</h1>

	<table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Shelf Life</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in itemsOnList">
          <td>[[item.name]]</td>
          <td>[[item.shelfLifeDays]]</td>
          <td><button ng-click="delete(item.id)" class="btn">Remove <i style="font-size:1.0em" class="glyphicon glyphicon-trash"></i></button></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" ng-click="addToFoodToEat(item.id)">Add all items to Pantry</button>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
function homeCtrl($scope, $http) {
	$scope.project = ["Hello", "World", "!"];
	$scope.foodItems = []
	$scope.itemsOnList = []

	$.ajax({
        url: "/api/foodInfo",
        method: "Get",
        success: function(resp) {
        	$scope.foodItems = (resp.data)
        	$scope.$apply();
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
        },
      })

	$.ajax({
        url: "/api/user/list",
        method: "Get",
        success: function(resp) {
        	$scope.itemsOnList = (resp.data)
        	$scope.$apply();
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
        },
      })

	$("#foodForm").on("submit", function(data, other) {
		var item;
		var found = false;
		for(var i = 0;i<$scope.foodItems.length;i++){
			if($scope.foodItems[i].name == $("#foodItem").val()){
				item = $scope.foodItems[i];
				item = {name: item.name, shelfLifeDays: item.shelfLifeDays, amount: 1, foodInfoId: item.id}
				found = true;
				break;
			}
		}
		if (!found) {
			return;
		}

		$("#foodItem").val('')
		$.ajax({
	        url: "/api/foodItem",
	        method: "Post",
	        data: item,
	        success: function(resp) {
	        	item.id = resp.data.item.id
	        	$scope.itemsOnList.push(item);
				console.log($scope.itemsOnList)
				$scope.$apply();

	        },
	        error: function(XMLHttpRequest, textStatus, errorThrown) {
	        	console.log("err")
	        },
	      })
	})

	$scope.delete = function(id){
		$.ajax({
	        url: "/api/foodItem/"+id,
	        method: "Delete",
	        success: function(resp) {
	        	$scope.itemsOnList = $.grep($scope.itemsOnList, function(elem){
	        		console.log(elem)
	        		if(elem.id == id){
	        			console.log("remove")
	        			return false;
	        		}else{
	        			return true;
	        		}
	        	})
	        	$scope.$apply();
	        },
	        error: function(XMLHttpRequest, textStatus, errorThrown) {
	        	console.log("err")
	        },
	      })
		console.log(id)
	}

	$scope.addToFoodToEat = function(id) {
		$.ajax({
	        url: "/api/User/addToFoodToEat",
	        method: "Put",
	        success: function(resp) {
	        	//$scope.itemsOnList = [];
	        	//$scope.$apply();
	        	window.location = "/foodToEat"
	        },
	        error: function(XMLHttpRequest, textStatus, errorThrown) {
	        	console.log("err")
	        },
	    })
	}
	// $scope.foodItems = ["Bananas", "Tomatoes", "Milk", "White Bread", "Apples", "Breakfast Cereal", "Potatoes", "Eggs", "Orange Juice", "Chicken breast", "Turkey from Deli Counter"]
}
</script>
{% endblock %}